@model List<Order>

@{
    ViewData["Title"] = "Shopping cart summary";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h2>You shopping cart summary</h2>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Car Name</th>
                    <th>Car Model</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>TotalPrice</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var items in Model)
                {
                    <tr>
                        <td class="align-middle">@items.CarName</td>
                        <td class="align-middle">@items.CarModel</td>
                        <td class="align-middle">@items.CarPrice.ToString("c")</td>
                        <td class="align-middle">@items.Quantity</td>
                        <td class="align-middle">@items.TotalAmount</td>
                    </tr>
                }

            </tbody>
 
        </table>

    </div>
</div>
